<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maiguo.library.demo">

    <application>
        <activity
            android:name="com.maiguo.library.demo.TestActivity"
            android:label="用于启动测试的model"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
