<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="test.sensor.com.shop_library">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="test.sensor.com.shop.activitys.AllChannelActivity"
            android:label="用于library的测试页面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
