<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guide.business.library">

    <application
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.GuiDeMain"
            android:label="引导首页">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TestSkin"
            android:label="测试页"/>

        <activity
            android:label="语言设置"
            android:name=".ui.TestLanguageActivity"/>

        <activity
            android:label="仿QQ相册"
            android:name=".ui.SendPhotoAlbumActivity"/>
    </application>

</manifest>
