<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guide.business.library">

    <application>
        <activity
            android:name=".ui.GuiDeMain"
            android:label="引导首页"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginActivity"
            android:label="登录页"></activity>
    </application>

</manifest>
