<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chat.business.library">

    <application>
        <activity
            android:name=".test.ChatLoginActivity"
            android:label="用于测试的环信登录页"></activity>
        <activity
            android:name=".ui.ChatMessageActivity"
            android:label="交流单聊页"></activity>
    </application>

</manifest>
